@font-face {
  font-family: 'Sigo-Regular';
  src: url('../fonts/Singo/Singo-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}
