body {
  background: $color-white;
  color: $color-black;
  font-family: 'Roboto-Regular';
}

h1, h2, h3, h5{
  font-family: 'Sigo-Regular';
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.padding-10{
  padding: 10px;
}

footer{
  text-align: center;
  .icon-heart-svg{
    background: url("../images/heart.svg");
    width: 20px;
    height: 20px;
    top:5px;
    display: inline-block;
    position: relative;
  }

}
